


<div class="row my-5">
    <div class="col-md-6">
        <h1>List of Posts</h1>
    </div>
    <div class="col-md-6"></div>
</div>

<div class="row">
    <div class="col-md-12">

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let post of posts">
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p>
                <hr>
                <button class="btn btn-sm btn-warning mr-2"><i class="fa fa-pencil"></i></button>
                <button class="btn btn-sm btn-danger mr-2"><i class="fa fa-times"></i></button>
                <button class="btn btn-sm btn-info mr-2"><i class="fa fa-eye"></i></button>
            </li>
           
        </ul>
    </div>
</div>
