
<input type="text" class="form-control" [(ngModel)]="name">

<span class="badge badge-success">{{ name }}</span>

<button class="btn btn-warning" (click)="saySomeThing()">Click me</button>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Mohamed</td>
            <td>21</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Kamal</td>
            <td>22</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Walid</td>
            <td>12</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Basma</td>
            <td>8</td>
        </tr>
      
    </tbody>
</table>